@use '../custom' as *;
@use '../components/typography' as *;


#roadmap-section {
    top: 0;
    left: 0;
    right: 0;
    position: relative;
    width: 100vw;
    min-height: 100vh;
    margin-top: 0;
    padding: 0em 0 1em 0em;
    // padding: 160px 0 480px 0;
    z-index: 30;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-color: black;
    font-family: 'Orbitron', sans-serif;
    color:$white;


    h1 {
        width: 100%;

        padding: 4em 0 1em 0;
        // padding-bottom: 48px;
        font-size: $title-font;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;  

    }

}